.detalle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  gap: 2rem;
}

.detalle-publicacion {
  width: 100%;
}

.comentarios {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comentario {
  background-color: #d4fdf1;
  padding: 0.75rem;
  border-radius: 6px;
}

.comentario-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.comentario-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.comentario-mod {
  font-style: italic;
  color: rgb(209, 253, 242);
  margin-left: auto;
  font-size: 0.85rem;
}

.comentario-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comentario-form textarea {
  resize: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.comentario-form button {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background-color: #72e4b1;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.comentario-form button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.acciones-publicacion {
  margin-top: 1rem;
}

.acciones-publicacion button {
  background-color: #55ffa7;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.acciones-publicacion button:hover {
  background-color: #00ff88;
}