<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="perfil">
    <div class="perfil-card">
        <div class="perfil-avatar">
            <img *ngIf="perfil.user.profileImageUrl; else defaultAvatar" [src]="perfil.user.profileImageUrl" alt="Foto de perfil">
            <ng-template #defaultAvatar>
              <div class="avatar-placeholder">👤</div>
            </ng-template>
        </div>
        <div class="perfil-detalles">
          <h2>{{ perfil.user.firstName }} {{ perfil.user.lastName }}</h2>
          <p class="username">{{ '@' + perfil.user.username }}</p>
          <p *ngIf="perfil.user.bio" class="bio">{{ perfil.user.bio }}</p>
        </div>
    </div>

    <div class="recent-posts">

    <div *ngIf="perfil.publicaciones.length; else sinPosts">
      <app-publicacion
        *ngFor="let pub of perfil.publicaciones"
        [publicacion]="pub"
        [usuarioId]="usuarioId"
        (likeChanged)="onLikeChanged($event)">
      </app-publicacion>
    </div>

    <ng-template #sinPosts>
      <p>No tenés publicaciones aún.</p>
    </ng-template>
  </div>
</div>
