<nav>
  <ul>

    <ng-container *ngIf="isLoggedIn()">
      <li><a routerLink="/publicaciones" routerLinkActive="active">Publicaciones</a></li>
      <li><a routerLink="/publicar" routerLinkActive="active">Publicar</a></li>
    </ng-container>

    <ng-container  *ngIf="!isLoggedIn()">
      <li class="log"><a routerLink="/registro" routerLinkActive="active">Registro</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ng-container>

    <ng-container *ngIf="isLoggedIn()">
      <li class="log" routerLink="/miperfil" routerLinkActive="active" style="cursor: pointer;">
        <div class="navbar-avatar">
            <img *ngIf="avatar; else defaultAvatar" [src]="avatar" alt="Foto de perfil">
            <ng-template #defaultAvatar>
              <div class="nav-avatar-placeholder">👤</div>
            </ng-template>
        </div>
      </li>   
      <li routerLink="/miperfil" routerLinkActive="active"><a style="cursor: pointer;">{{username}}</a></li>
      <li><a (click)="logout()" style="cursor: pointer;">Cerrar sesión</a></li>
    </ng-container>
  </ul>
</nav>