<nav>
  <ul>

    <ng-container *ngIf="isLoggedIn()">
      <li><a routerLink="/publicaciones" routerLinkActive="active">Publicaciones</a></li>
      <li><a routerLink="/miperfil" routerLinkActive="active">Mi Perfil</a></li>
    </ng-container>

    <ng-container  *ngIf="!isLoggedIn()">
      <li class="log"><a routerLink="/registro" routerLinkActive="active">Registro</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ng-container>

    <li class="log" *ngIf="isLoggedIn()">
      <a (click)="logout()" style="cursor: pointer;">Cerrar sesión</a>
    </li>
  </ul>
</nav>